<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="../assets/js/vue.min.js"></script>
  <title>V-for 案例</title>
</head>

<body>
  <h1>v-for指令用法</h1>
  <hr>
  <div id="app">
    <ul>
      <li v-for="item in sortItems">
        {{item}}
      </li>
    </ul>
    <hr>
    <ul>
      <li v-for="student in sortStudent">
        {{student.name}}--{{student.age}}
      </li>
    </ul>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        items: [20, 23, 18, 7, 32, 19, 54, 56, 41],
        students: [{
            name: 'sakura1',
            age: 21
          },
          {
            name: 'sakura2',
            age: 25
          },
          {
            name: 'sakura3',
            age: 24
          },
          {
            name: 'sakura4',
            age: 22
          },
        ]
      },
      computed: {
        sortItems: function () {
          return this.items.sort(sortNumber);
        }
      },
      sortStudent: function () {
        return sortByKey(this.students, 'age');
      }
    });

    function sortNumber(a, b) {
      return a - b;
    }

    function sortByKey(array,key){
    return array.sort(function(a,b){
      var x=a[key];
      var y=b[key];
      return ((x<y)?-1:((x>y)?1:0));
   });
}
  </script>
</body>

</html>