<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../assets/js/vue.min.js"></script>
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>v-model</h1>
    原生文本信息:{{message}}
    <h3>文本框</h3>
    <p>v-model:<input type="text" v-model="message"></p>
    <p>v-model.lazy:<input type="text" v-model.lazy="message"></p>
    <p>v-model.number<input type="text" v-model.number="message"></p>
    <p>v-model.trim<input type="text" v-model.trim="message"></p>
    <h3>文本框</h3>
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <hr>
    <h3>多选框绑定数组</h3>
    <p>
      <input type="checkbox" id="jspang" v-model="web_names" value="sakura">
      <label for="isTrue">sakura</label>
      <input type="checkbox" id="jspang" v-model="web_names" value="saaaaa">
      <label for="isTrue">saaaaa</label>
      <input type="checkbox" id="jspang" v-model="web_names" value="qwreqwr">
      <label for="isTrue">qwreqwr</label>
    </p>
    <p>{{web_names}}</p>
    <hr>
    <h3>单选框绑定</h3>
    <p>
      <input type="radio" id="one" value="男" v-model="sex">
      <label for="one">男</label>
      <input type="radio" id="one" value="女" v-model="sex">
      <label for="two">女</label>
      <p>你选择的性格别是:{{sex}}</p>
    </p>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'hello world',
          isTrue: true,
          web_names: [],
          sex:""
        }
      })
    </script>
  </div>

</body>

</html>